* {
  box-sizing: border-box;
  word-break: break-all;
  overflow-wrap: break-word;
}

img {
 width: 100%;
}

li {
  display: inline-block;
  max-width: 33%;
  float: left
}


.authors {
  width: 40%;
  margin-left: 70%;
}

.image-number {
  float: left;
  width: 20%;
}
