* {
  box-sizing: border-box;
  word-break: break-all;
  overflow-wrap: break-word;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10px;
  list-style: none;

}

img {
 width: 100%;
 border: solid 1px;
 border-radius: 4px;
 color: #D7D7D7;

}

span {
  color: #777777;
}
ul {
  display:inline-block;
  padding-left: 1px;
}
.octocat {
  display: inline-block;
  max-width: 26%;
  float: left;
  margin: 1%;
  border-bottom: 1px;
  border-bottom-color: #D7D7D7
}
.image-footer {
  padding-top: 3%;

}
.authors a {
  display: inline-block;

}
.authors img {
  width: 20px;
  border: none;
  float: right;
  position: relative;
  top: 4px;
}
.image-number {
  position: relative;
  bottom: 3px;
  left: 1px;
}
.image-number::before {
  content: "#";
}
.image-caption a {
  text-decoration: none;
  color: #50545B;
  display: inline-block;
}
div .image-caption {
  position: relative;
  bottom: 22px;
  left: 165px;

}
